@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="container">

    <h2>@HtmlLocalizer[ViewBag.Title]</h2>
    <h4>@HtmlLocalizer["Enter your email."]</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success">@HtmlLocalizer["Submit"]</button>
            </form>
        </div>
    </div>
</div>