@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container">

    <h2>@HtmlLocalizer[ViewBag.Title]</h2>
    <h4>@HtmlLocalizer["Please check your email to reset your password."]</h4>
</div>