@using Web.Extensions
@{
}
<div class="row">
    <div class="col-12" style="border-bottom:1px solid #e4e4e4">
        <h3>@Html.ThisControllerName()</h3>
    </div>
</div>

<partial name="_alerts" />
<partial name="_validationSummary" />